version: "3.8"

services:
  app:
    build:
      context: ./backend
    container_name: nest-backend
    env_file:
      - .env
#    volumes:
#      - ./backend:/app
#      - /app/node_modules
    ports:
      - "3000:3000"


    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    ports:
      - "80:80"
    depends_on:
      - app
    environment:
      - REACT_APP_API_URL=http://localhost:3000/api
#      - REACT_APP_API_URL=http://app:3000


